:root {
  --colorDeFondo:  rgb(34, 38, 42);
  --colorPrincipal: rgb(235, 96, 40);
  --colorDeFondoSecundario:hsl(210, 10%, 23%);
  --colorTexto: #495057;
  --hiCustom: 2rem;
  --h2Custom: 1.5rem;
  --h3Custom: 1rem;
  --h4Custom: 0.8rem;
  --pCustom: 1rem;
}
